#home h1 {
  font-size: 20px;
}

#buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#forest {
  width: 500px;
  height: 500px;
  border-color: white;
  border-style: solid;
  background-color: rgb(95, 36, 4);
}
